{% extends "admin/change_list.html" %}
{% load i18n static %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/calendar.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/admin/DateTimeShortcuts.js' %}"></script>
{% endblock %}

{% block object-tools-items %}
    <li>
        <a href="{% url 'admin:waterlevelobservation-upload-csv' %}" class="btn btn-primary">Import CSV</a>
    </li>
    {{ block.super }}
{% endblock %}